# Core functionality - changes here should be rare!
/src/app.py                   @jadalaakhilkumar01
/src/backend/database.py      @jadalaakhilkumar01
/src/backend/routers/auth.py  @jadalaakhilkumar01

# The frontend will need refactored soon to be more object oriented.
/src/static/   @jadalaakhilkumar01
